/* :root {
    --specials-button: #215D9E;
    --numbers-button: #18427A;
    --operator-button: #247193;
} */

.App {
    width: 530px;
    height: 830px;
    /* display: flex; */
    background-color: #a83137;
    border-radius: 15px;
    padding: 30px;
    
}

.logo {
    max-width: 150px;
    padding: 15px;
}

.display {
    height: 128px;
    width: 517px;
    background-color: #323335;
    border-radius: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.buttons-container {
    display: flex;
    justify-content: space-between;
}

.buttons-container button {
    border-radius: 50px;
    width: 108px;
    height: 102px;
}


